.tabPanel {
  padding-left: 1rem;
  gap: 1rem;
}

.sectionContainer {
  margin-bottom: 2rem;
}

.sectionTitleContainer {
  margin-bottom: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  gap: 32px;
  justify-content: center;
}
